
:root {
    --NAV-COLOR: rgb(212, 212, 212);
    --NAV-BORDER-COLOR: #525151;
    --NAV-BGCOLOR: rgb(51, 55, 62);
    --NAV-BORDER: 2px solid var(--NAV-BORDER-COLOR);
    --CONTENT-H2-COLOR: rgb(212, 212, 212);
    --CONTENT-COLOR: rgb(188, 197, 206);
    --LINK-COLOR: white;
    --LINK-HOVER-BGCOLOR: rgba(62, 216, 219, 0.866);
    --LINK-FOCUS-BGCOLOR: rgb(57, 185, 188);
    --LINK-ACTIVE-COLOR: rgb(82, 81, 81);
  }
  body{
    background-color: rgba(228, 251, 251, 0.866);
    
  }
  /* NAVBAR *************************************************************************************** */
  .NavBar {
    border-right: var(--NAV-BORDER);
    padding: 1rem;
    background-color: var(--NAV-BGCOLOR);
    width: 18rem;
    min-width: 14rem;
    box-sizing: border-box;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  
  .NavBar > h2 {
    font-weight: 500;
    color: var(--NAV-COLOR);
  }
  
  .NavBar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .NavBar li {
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
  .NavBar li a,
  .NavBar li span {
    text-decoration: none;
    color: var(--NAV-COLOR);
    padding: 0.8rem;
  
    border-bottom: 2px solid transparent;
    flex-grow: 1;
  }
  
  .NavBar li a:hover,
  .NavBar li span:hover{
    background-color: var(--LINK-HOVER-BGCOLOR);
    color: rgb(253, 254, 254);
    cursor: pointer;
    border-radius: 7px;
  }
  
  .NavBar li:active,
  .NavBar li a:active,
  .NavBar li span:active {
    color: var(--LINK-ACTIVE-COLOR);
  }
  
  .NavBar li:focus,
  .NavBar li a:focus,
  .NavBar li span:focus {
    background-color: var(--LINK-FOCUS-BGCOLOR);
    color: rgb(253, 254, 254);
    outline-offset: 4px;
    border-radius: 7px;
  }
  
  .nav-icon {
    margin-left: 0.5rem;
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  
  .ccsLogo {
    height: 7.5rem;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
  }
  
  /* Scrollbar styles */
  .NavBar::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 8px;
  }
  
  .NavBar::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .NavBar::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background-color: rgb(82, 81, 81);
    border-radius: 10px;
  }
  
  .NavBar::-webkit-scrollbar-thumb:hover,
  body::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }
  
  .divider {
    font-weight: 600;
    pointer-events: none;
    color: var(--CONTENT-H2-COLOR);
  }
  /* APP-CONTAINER ********************************************************************************/
  .app-container {
    display: flex;
    flex-grow: 1;
    
  }
  
  .content {
    flex-grow: 1;
    text-align: left;
    padding: 2rem 12rem;
    margin-top: 2rem;
    margin-left: 22rem;
    color: var(--CONTENT-COLOR);
    overflow-y: auto;
  }
  
  .content h2 {
    color: rgb(33, 35, 42);;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
  }
  
  .content p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  /*  Profile ************************************************/
  .profile-container {
    display: flex;
    justify-content: space-between; /* Space between containers */
    background-color: #282c34;
    color: var(--CONTENT-COLOR);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Adjusted width to fit both containers */
    margin: 0 auto;
    margin-top: 50px; /* Add margin-top for centering */
    position: relative; /* Ensure it's centered vertically */
  }
  
  .detail-container {
    flex: 1; /* Flex to adjust with the container */
    text-align: center;
    padding-right: 1rem; /* Padding to add space between containers */
  }
  
  .detail-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid var(--CONTENT-H2-COLOR); /* Add border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  
  .detail-container h1 {
    font-size: 2.5em; /* Increase font size */
    color: white; /* Change name color to white */
    margin-bottom: 10px;
  }
  
  .detail-container p {
    font-size: 1.2em;
    color: var(--CONTENT-COLOR);
    margin: 5px 0;
  }
  
  .detail-container p span {
    font-weight: bold;
    color: white; /* Ensure high contrast */
  }
  
  /* Loading and Error Styles */
  .loading,
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    color: rgb(33, 35, 42);
  }
  
  /* Adding responsive design */
  @media (max-width: 768px) {
    .profile-container {
      padding: 1rem;
    }
  
    .profile-container h1 {
      font-size: 1.5em;
    }
  
    .profile-container p {
      font-size: 1em;
    }
  }
  .question-container {
    flex: 2; /* Flex to adjust with the container */
  }
  
  .question-container h2 {
    color: white; /* Change heading color to white */
  }
  
  .questions-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: var(--NAV-BGCOLOR); /* Add background color for contrast */
  }
  
  .questions-table th,
  .questions-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .questions-table th {
    background-color: var(--NAV-BGCOLOR);
    color: white;
  }
  
  .questions-table tr:hover {
    background-color: var(--NAV-COLOR);
    color: black;
  }
  
  .questions-table a {
    color: rgba(62, 216, 219, 0.866);
    text-decoration: none;
  }
  
  .questions-table a:hover {
    text-decoration: underline;
    color: rgb(57, 185, 255);
  }
 /* LEADERBOARD ********************************************/
.leaderboard-container {
  background-color: var(--NAV-BGCOLOR);
  border-radius: 0.9375rem; 
  padding: 1.25rem; 
  margin: 1.25rem; 
}

.leaderboard-title {
  color: var(--CONTENT-H2-COLOR);
  text-align: center;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--NAV-BGCOLOR);
  color: var(--CONTENT-COLOR);
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 1rem; 
  text-align: left;
  border-top: 0.0625rem solid #ddd; 
}

.leaderboard-table th {
  background-color: var(--NAV-BGCOLOR);
  color: white;
}

.leaderboard-row {
  margin: 0.5rem;
}

.leaderboard-row td {
  margin: 0.1rem;
  background-color: var(--NAV-BGCOLOR);
}

.leaderboard-row img {
  border-radius: 50%;
  width: 3.5rem; 
  height: 3.5rem;
  object-fit: cover;
}

.leaderboard-row td:last-child {
  text-align: center;
}
