@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.AlertDialogOverlay {
  background-color: rgba(0, 0, 0, 0.455);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  background-color: rgb(51, 55, 62);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  text-align: center;
}

.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  margin: 0;
  color: white;
  font-size: 17px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.AlertDialogDescription {
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Button.violet {
  background-color: rgba(62, 216, 219, 0.866);
  color: white;
}

.Button.violet:hover {
  background-color: rgba(55, 191, 194, 0.866);
}

.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}

.Button.mauve {
  background-color: red;
  color: white;
}

.Button.mauve:hover {
  background-color: rgb(206, 5, 5);
}

.Button.mauve:focus {
  box-shadow: 0 0 0 2px black;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}