@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --NAV-COLOR: rgb(212, 212, 212);
  --NAV-BORDER-COLOR: #525151;
  /* --NAV-BGCOLOR: rgb(51, 55, 62); */
  --NAV-BGCOLOR: rgb(34, 36, 41);
  --NAV-BORDER: 2px solid var(--NAV-BORDER-COLOR);
  --CONTENT-H2-COLOR: rgb(212, 212, 212);
  --CONTENT-COLOR: rgb(188, 197, 206);
  --LINK-COLOR: white;
  --LINK-HOVER-BGCOLOR: rgba(62, 216, 219, 0.866);
  --LINK-FOCUS-BGCOLOR: rgba(62, 216, 219, 0.866);
  --LINK-ACTIVE-COLOR: rgb(82, 81, 81);
  --cont-color: rgb(18, 17, 17); /* Dark background for containers */
  --ac-color: rgba(62, 216, 219, 0.866); /* Accent color for labels and headings */
  --text-color: #ffffff; /* White text color */
  --input-focus-color: rgb(77, 77, 77);
}
*{
  margin:0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: black;
}

/* NAVBAR ***************************** */
.NavBar {
  border-right: var(--NAV-BORDER);
  padding: 1rem;
  background-color: var(--NAV-BGCOLOR);
  width: 18rem;
  min-width: 14rem;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: width 0.3s ease, height 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
}

.NavBar > h2 {
  font-weight: 500;
  color: var(--NAV-COLOR);
}

.NavBar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
}
.NavBar .logout-button-container {
  
  display: flex;
  justify-content:flex-end;
}
.NavBar .logout-button-container .logout-button {
  background-color: rgba(62, 216, 219, 0.866);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem; /* Adjust the right margin as needed */
  cursor: pointer;
  font-size: 1rem;
}

.NavBar .logout-button-container .logout-button:hover {
  background-color: rgba(62, 216, 219, 1); /* Slightly darker on hover */
}

.NavBar .logout-button-container .logout-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(62, 216, 219, 0.5);
}
.NavBar li {
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.NavBar li a,
.NavBar li span {
  text-decoration: none;
  color: var(--NAV-COLOR);
  padding: 0.8rem;
  border-bottom: 2px solid transparent;
  flex-grow: 1;
  font-size: 1.4rem;
}

.NavBar li a:hover,
.NavBar li span:hover {
  background-color: var(--LINK-HOVER-BGCOLOR);
  color: rgb(253, 254, 254);
  cursor: pointer;
  border-radius: 7px;
}

.NavBar li:active,
.NavBar li a:active,
.NavBar li span:active {
  color: var(--LINK-ACTIVE-COLOR);
}

.NavBar li:focus,
.NavBar li a:focus,
.NavBar li span:focus {
  background-color: var(--LINK-FOCUS-BGCOLOR);
  color: rgb(253, 254, 254);
  outline-offset: 4px;
  border-radius: 7px;
}

.nav-icon {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.ccsLogo {
  height: 7.5rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}
@media (max-width: 1024px) {
  .NavBar .logout-button-container .logout-button {
    font-size: 0.875rem; /* Reduce font size for smaller screens */
    padding: 0.2rem 0.5rem; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 768px) {
  .NavBar .logout-button-container .logout-button {
    font-size: 0.75rem; /* Further reduce font size for even smaller screens */
    padding: 0.15rem 0.4rem; /* Further adjust padding */
  }
}
/* Scrollbar styles */
.NavBar::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
}

.NavBar::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.NavBar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgb(82, 81, 81);
  border-radius: 10px;
}

.NavBar::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.divider {
  font-weight: 600;
  pointer-events: none;
  color: var(--CONTENT-H2-COLOR);
}

/* APP-CONTAINER ****************************/
.app-container {
  display: flex;
  flex-grow: 1;
  max-width: 190rem;
  
}

.content {
  flex-grow: 1;
  text-align: center;
  padding: 2rem 9rem;
  /* margin-top: 2rem; */
  margin-left: 13rem;
  
  color: var(--CONTENT-COLOR);
  overflow-y: auto;
}

.content h2 {
  color: rgb(33, 35, 42);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.content p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile ****************/
.profile-container {
  display: flex;
  justify-content: space-between; /* Space between containers */
  background-color: #282c34;
  color: var(--CONTENT-COLOR);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Adjusted width to fit both containers */
  margin: 0 auto;
  margin-top: 50px; /* Add margin-top for centering */
  position: relative; /* Ensure it's centered vertically */
}

.detail-container {
  flex: 1; /* Flex to adjust with the container */
  text-align: center;
  padding-right: 1rem; /* Padding to add space between containers */
}

.detail-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid var(--CONTENT-H2-COLOR); /* Add border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.detail-container h1 {
  font-size: 2.5em; /* Increase font size */
  color: white; /* Change name color to white */
  margin-bottom: 10px;
}

.detail-container p {
  font-size: 1.2em;
  color: var(--CONTENT-COLOR);
  margin: 5px 0;
}

.detail-container p span {
  font-weight: bold;
  color: white; /* Ensure high contrast */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Loading and Error Styles */
.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  color: rgb(33, 35, 42);
}
/* Rank Slider ****************/
.rank-slider button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  outline: inherit;
}
.rank-slider {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.rank-slider .tab {
  text-decoration: none; /* Remove default underline */
  color: var(--CONTENT-COLOR);
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: text-decoration-color 0.3s; /* Add transition for underline color */
}

.rank-slider .tab.active {
  text-decoration: underline; /* Underline when active */
  text-decoration-color: rgba(62, 216, 219, 0.866); /* Active underline color */
  text-underline-offset: 2px; /* Optional: adjust underline position */
}
/* Responsive Design for Rank Slider */
@media (max-width: 768px) {
  .rank-slider .tab {
    padding: 5px 10px;
    font-size: 0.875rem;
  }
}
/* Adding responsive design */
@media (max-width: 768px) {
  .profile-container {
    padding: 1rem;
  }

  .profile-container h1 {
    font-size: 1.5em;
  }

  .profile-container p {
    font-size: 1em;
  }
}

.question-container {
  flex: 2; /* Flex to adjust with the container */
}

.question-container h2 {
  color: white; /* Change heading color to white */
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* 
.questions-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: var(--NAV-BGCOLOR); 
}

.questions-table th,
.questions-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.questions-table th {
  background-color: var(--NAV-BGCOLOR);
  color: white;
}

.questions-table tr:hover {
  background-color: var(--NAV-COLOR);
  color: black;
}

.questions-table a {
  color: rgba(62, 216, 219, 0.866);
  text-decoration: none;
}

.questions-table a:hover {
  text-decoration: underline;
  color: rgb(57, 185, 255);
}
 */
/* LEADERBOARD ****************/
.leaderboard-container {
  background-color: var(--NAV-BGCOLOR);
  border-radius: 1rem; /* 15px in rem */
  padding: 2rem 4rem 4rem; /* 20px in rem */
  margin: 0 1rem; /* 20px in rem */
}
.leaderboard-container .leaderboard-title-heading {
  color: white;
  text-align: left;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif; /* Ensure the font is applied */
  font-weight: 400;
  font-style: normal;
}
.leaderboard-title {
  color: white;
  text-align: left;
  margin-bottom: 1rem;
}
.questions-table,
.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--NAV-BGCOLOR);
  color: var(--CONTENT-COLOR);
  border: 2px solid rgba(62, 216, 219, 0.866);
  border-radius: 1rem;
  overflow: hidden; /* Ensure the border-radius applies to the entire table */
  
}
.questions-table th,
.questions-table td,
.leaderboard-table th,
.leaderboard-table td {
  padding: 0.9375rem; /* 15px in rem */
  text-align: left;
  border-top: 0.0625rem solid rgba(62, 216, 219, 0.866); /* 1px in rem */
}
.questions-table th,
.leaderboard-table th {
  background-color: var(--NAV-BGCOLOR);
  color: white;
  text-align: center;
}

.leaderboard-row {
  margin: 0.3125rem; /* 5px in rem */
}

.leaderboard-row td {
  margin: 0.125rem; /* 2px in rem */
  background-color: var(--NAV-BGCOLOR);
   text-align: center;
}

.leaderboard-row img {
  border-radius: 50%;
  width: 3.125rem; /* 50px in rem */
  height: 3.125rem; /* 50px in rem */
  object-fit: cover;
}
.leaderboard-table th:first-child,
.leaderboard-table td:first-child {
  border-radius: 1rem;
}

.leaderboard-table th:last-child,
.leaderboard-table td:last-child {
  border-radius: 1rem;
}

.leaderboard-table tr:last-child td:first-child {
  border-radius: 1rem;
}

.leaderboard-table tr:last-child td:last-child {
  border-radius: 1rem;
}
/* .leaderboard img .badge{
  width: auto; 
  height: auto; 
  border-radius: 0;
  background-color: red;
}
*/
/* .leaderboard-row td:last-child,
.leaderboard-row th:last-child {
  text-align: center;
} */
/* Responsive Design for Leaderboard */
@media (max-width: 768px) {
  .profile-container {
    padding: 1rem; /* Equal padding on all sides */
    margin:0;
  }

  .content {
    padding: 0.5rem; /* Equal padding on all sides */
    margin: 0; /* Remove any extra margin */
  }
  .question-container,
  .leaderboard-container {
    padding: 1rem; /* Adjust padding for smaller screens */
    margin: 0.5rem; /* Adjust margin for smaller screens */
   
  }
  .question-container h2,
  .leaderboard-title-heading,
  .leaderboard-title {
    font-size: 0.875rem; /* Adjust font size for smaller screens */
    text-align: center !important; /* Center-align text for smaller screens */
  }
  .questions-table th,
  .questions-table td,
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 0.5rem; /* Reduce padding for smaller screens */
    font-size: 0.75rem; /* Reduce font size for smaller screens */
    text-align: center; 
  }

  .leaderboard-row img {
    width: 2rem; /* Reduce image size for smaller screens */
    height: 2rem; /* Reduce image size for smaller screens */
  }
  .questions-table,
  .leaderboard-table {
    width: 100%; /* Ensure the table width fits within the container */
    table-layout: fixed; /* Ensure consistent table cell widths */
  }
  .questions-table th,
  .questions-table td,
  .leaderboard-table th,
  .leaderboard-table td {
    white-space: normal; /* Allow text to wrap within cells */
    word-wrap: break-word; /* Ensure long words are wrapped */
  }
}

/* Responsive Navbar for Smaller Screens */
@media (max-width: 1024px) {
  .NavBar {
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--NAV-BGCOLOR);
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;  /* Ensure it is above other content */
    border-right: none; /* Remove right border */
    border-bottom: var(--NAV-BORDER); /* Add bottom border */
  }

  .NavBar ul {
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 70%;
    justify-content: space-around;
  }

  .NavBar li {
    margin: 0;
    padding: 0;
  }

  .NavBar li a,
  .NavBar li span {
    padding: 0.2rem;
    padding-bottom: 0;
  }

  .nav-icon {
    font-size: 1.5rem; /* Increase icon size */
    margin: 0;
  }
  .ccsLogo{
    margin-top: 1rem;
    height: 4.5rem;
    margin-left: 0.5rem;
  }
  .NavBar > h2,
  .NavBar li a span,
  .NavBar li span span {
    display: none; /* Hide text */
  }
  .NavBar .divider{
    display: none;
  }
  .app-container {
    margin-top: 7rem; /* Add top margin to avoid overlap with the navbar */
    margin-left: 0; /* Reset left margin */
  }

  .content {
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .detail-container {
    padding-right: 0;
    margin-bottom: 1rem; /* Add space between the containers */
  }

  .question-container {
    width: 100%; /* Ensure the question container takes full width */
  }

}
@media (max-width: 425px){
  .leaderboard-table th:last-child,
  .leaderboard-table td:last-child {
    display: none; /* Hide the "Questions Solved" column */
  }
}

/*  UsernameEntry styles *****************************************/
body.username-entry-body {
  background-color: #000000; /* Black background for the body */
  color: var(--text-color); /* White text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.container {
  background-color: var(--cont-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

/* Left Column Styles */
.left {
  display: flex;
  flex-direction: column;
  width: 45%;
  
  border-radius: 8px 0 0 8px;
  align-items: center;
  gap: 30px;
  background: var(--cont-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 12px;
}

.left-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  gap: 15px;
  text-align: center;
}

.left-top h1 {
  font-size: 32px;
  color: var(--ac-color);
  margin: 0;
  font-weight: 700;
}

.left-top h2 {
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.left-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
}

.left-bottom h4 {
  font-size: 20px;
  color: var(--ac-color);
  
  font-weight: 600;
}

.logo img {
  width: 5rem;
  border-radius: 50%;
}

.left-bottom .content {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  padding: 0.4rem;
}

.profile {
  width: 60px;
  height: 60px;
  margin-right: 10px; /* Adjust margin as needed */
}

.content-left {
  flex: 1; /* Take up remaining space */

}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .profile {
    margin-bottom: 10px; /* Adjust margin for spacing */
  }
}
/* Right Column Styles */
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-left: 8px;
  width: 50%;
  margin-bottom: 8px;
}

/* Form Styles */
.user-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.input-group-row {
  display: flex;
  gap: 15px;
}

.input-group {
  position: relative;
  margin-top: 10px;
  height: 56px;
}

.input-group input,
.input-group select {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: 1px solid var(--ac-color);
  border-radius: 4px;
  font-size: 14px;
  line-height: 56px;
  background-color: var(--cont-color);
  color: var(--text-color); /* White text color */
}
.input-group #roll-number,
.input-group #email{
  color: rgb(179, 179, 179);
}

.input-group label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  color: var(--ac-color);
  transform: translateY(-50%) scale(0.75) translateX(-5%);
  background: var(--cont-color);
  pointer-events: none;
  transition: none;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label,
.input-group select:focus ~ label,
.input-group select:not([value=""]) ~ label {
  top: 0;
}

.input-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%235f6368' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 40px;
}
.input-group input:focus {
  background-color: var(--cont-color); /* Dark background */
  color: var(--text-color); /* White text */
  border-color: var(--ac-color); /* Accent color border */
}

/* Optional: Style for when the input is not empty */
.input-group input:not(:placeholder-shown) {
  background-color: var(--cont-color); /* Dark background */
  color: var(--text-color); /* White text */
}
.input-group select option[disabled] {
  display: none;
}

.input-group select:invalid {
  color: #5f6368;
}

/* Policy Styles */
.policy {
  display: flex;
  align-items: center;
}

.policy label {
  font-size: 14px;
  color: #5f6368;
  display: flex;
  align-items: center;
}

.policy input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

/* Button Styles */
button {
  background-color: var(--ac-color);
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #139ad6;
}

/* Media Queries */
@media (max-width: 768px) {

  .container {
    margin-top: 6rem;
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .container {
    box-shadow: none;
  }

  .left {
   
    box-shadow: none;
  }

  .left-top h1 {
    font-size: 24px;
  }

  .left-top h2 {
    font-size: 14px;
  }

  .left-bottom h4 {
    font-size: 18px;
  }

  .content p {
    font-size: 14px;
  }

  .input-group label {
    top: 0;
  }

  .input-group {
    height: 45px;
  }

  .input-group input,
  .input-group select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #39b9bc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    background-color: var(--cont-color);
  }

  .policy label {
    font-size: 12px;
  }

  button {
    padding: 12px;
    font-size: 16px;
  }

  .input-group label {
    font-size: 12px;
  }

  .input-group input:focus ~ label,
  .input-group input:not(:placeholder-shown) ~ label,
  .input-group select:focus ~ label,
  .input-group select:not([value=""]):not([value="Select your branch"]) ~ label {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .input-group-row {
    flex-direction: column;
  }

  .input-group-row .input-group {
    width: 100%;
  }
}
@media (max-width: 600px) {
  body{
    background-color: rgb(18, 17, 17);
  }
}
@media (max-width: 445px) {

  .container {
    margin-top: 0;
    flex-direction: column;
  }
}